h1, h2 {
}

html {
}

html, body {
  margin: 0; padding: 0;
}

.main.menu {
  background: white;
  margin-bottom: 0;
  padding: 1em;
  padding-bottom: 0;
}

.main.menu * {
  margin-bottom: 0;
}

.main.menu > nav {
  background: #ff0000 !important;
  height: 40px;
  width: 800px;
}

article {
  background-image: url(http://www.oceanit.com/sites/default/files/front-images/istock-52437234-reduced.jpg);
  background-size: auto 120%;
  margin: 0;
  padding: 3em;
  height: 900px;
}

article p {
  margin: 0 auto;
  max-width: 45em;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: robotoweb, roboto, arial, "helvetica neue", sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
}

article h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.footer {
  background-color: #263988 !important;
}

.hero {
  background-image: url(http://www.oceanit.com/sites/default/files/styles/oc15_slideshow_xl/public/front-slides/ai_nome_logo.jpg?itok=zxYqPhHM);
}

.hero h1 {
  text-shadow: 0 0 0.25em rgba(0,0,0,0.4);
  font-size: 4em;
  max-width: 22em;
  margin: 0 auto;
}
